 <!-- Home Subpage -->
<section class="pt-page pt-page-1 section-with-bg section-paddings-0" style="background-image: url(images/home_page_bg_2.jpg);" data-id="home">
    <div class="home-page-block-bg">
        <div class="mask"></div>
    </div>
    <div class="home-page-block">
        <div class="v-align">
            <h2>Mohamed Ibrahim</h2>
            <div id="rotate" class="text-rotate">
                <div>
                    <p class="home-page-description">AI Architect </p>
                </div>
                <div>
                    <p class="home-page-description">Full-Stack & .NET Expert</p>
                </div>
            </div>

            <div class="block end" style="text-align: center">
                <ul class="info-list">


                    <li>
                        <span class="title">E-mail</span>
                        <span class="value">
                            <a href="mailto:moa7amed@gmail.com">moa7amed@gmail.com</a>
                        </span>
                    </li>
                    <li>
                        <span class="title">Phone</span>
                        <span class="value">
                            <a href="tel:+96894044079">+968 940 440 79</a>
                        </span>
                    </li>

                    @*   <li><span class="title">Freelance</span><span class="value available">Available</span></li> *@
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of Home Subpage -->