 <!-- Resume Subpage -->
<section class="pt-page pt-page-3" data-id="resume">
    <div class="section-title-block">
        <h2 class="section-title">Resume</h2>
        <h5 class="section-description">15+ Years of Experience</h5>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-8 subpage-block">
            <div class="block-title">
                <h3>Experience</h3>
            </div>
            <div class="timeline">

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Aug 2021 - Current</h5>
                    <h4 class="event-name">Software Developer</h4>
                    <span class="event-description">SSL-OMAN, Oman</span>
                    <p>Developed the EJADA System for Performance Measurement in Oman Government and the Legal System for the Ministry of Housing.</p>
                </div>

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Aug 2019 - Aug 2021</h5>
                    <h4 class="event-name">SharePoint Developer</h4>
                    <span class="event-description">Authority for Small and Medium Enterprises Development (RIYADA), Oman</span>
                    <p>Developed SharePoint applications, internal tools, and an Android app for SME services using .NET, PHP, SQL Server, Blazor, and Net Core API.</p>
                </div>
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Dec 2018 - Aug 2019</h5>
                    <h4 class="event-name">Team Leader</h4>
                    <span class="event-description">G7 Software House</span>
                    <p>Developed and maintained hospital systems & medical ERP solutions.</p>
                </div>
                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Feb 2017</h5>
                    <h4 class="event-name">Freelancer</h4>
                    <span class="event-description">Online</span>
                    <p>Developed and maintained radiology systems, hotel websites, logistics systems, government hospital systems, and medical ERP solutions.</p>
                </div>

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Aug 2016 - Feb 2017</h5>
                    <h4 class="event-name">Senior Software Developer</h4>
                    <span class="event-description">Qatar Charity, Qatar</span>
                    <p>Worked on the KhairGate project, developed a KIOSK donation app with AngularJS, and modified the Qatar Charity App using React Native.</p>
                </div>

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Feb 2016 - Aug 2016</h5>
                    <h4 class="event-name">Team Leader</h4>
                    <span class="event-description">FOREACH IT, Alexandria</span>
                    <p>Led the development of the Hospital Information System for Libya and supported various internal web and mobile applications.</p>
                </div>

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Jan 2015 - Feb 2016</h5>
                    <h4 class="event-name">Senior Software Developer</h4>
                    <span class="event-description">BAB, Riyadh, Saudi Arabia</span>
                    <p>Developed projects for SharePoint 2013 and Java SE & EE, and supported .NET projects for police and ministries.</p>
                </div>

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Sep 2012 - Jan 2015</h5>
                    <h4 class="event-name">Senior Software Developer</h4>
                    <span class="event-description">FOREACH IT, Alexandria</span>
                    <p>Supported and developed pharmacy and HR systems along with web and mobile applications.</p>
                </div>

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Mar 2011 - Sep 2012</h5>
                    <h4 class="event-name">Senior Software Developer</h4>
                    <span class="event-description">HARDTASK, Kuwait</span>
                    <p>Managed the design and development of web applications.</p>
                </div>

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Dec 2009 - Mar 2011</h5>
                    <h4 class="event-name">Software Developer</h4>
                    <span class="event-description">GULFSIP, Alexandria</span>
                    <p>Developed VoIP applications, web applications, and mobile apps.</p>
                </div>

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Oct 2008 - Nov 2009</h5>
                    <h4 class="event-name">Senior Software Developer</h4>
                    <span class="event-description">Top Systems, Alexandria</span>
                    <p>Converted ERP solutions from VB6 to .NET and developed custom controls using DevExpress.</p>
                </div>

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">Oct 2007 - Oct 2008</h5>
                    <h4 class="event-name">.NET Developer</h4>
                    <span class="event-description">MASRTECH, Alexandria</span>
                    <p>Developed warehouse management, task management, and ERP solutions.</p>
                </div>

            </div>
        </div>



        <div class="col-sm-6 col-md-4 subpage-block">
            <div class="block-title">
                <h3>Technical Skills</h3>
            </div>
            <div class="skills-info">
                <h4>.NET & Microsoft Frameworks</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-1"></div>
                </div>

                <h4>SQL Server & Database Management</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-2"></div>
                </div>

                <h4>React.js & JavaScript (ES6+)</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-3"></div>
                </div>

                <h4>.NET Core API</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-4"></div>
                </div>

                <h4>SharePoint Development</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-5"></div>
                </div>

                <h4>Python & TensorFlow (Machine Learning)</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-6"></div>
                </div>

                <h4>Qlik Sense (Data Visualization)</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-7"></div>
                </div>

                <h4>Azure DevOps & Version Control</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-8"></div>
                </div>
            </div>

            <div class="block-title">
                <h3>Web & UI/UX Development</h3>
            </div>
            <div class="skills-info">
                <h4>HTML5 & CSS3</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-9"></div>
                </div>

                <h4>Bootstrap CSS</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-10"></div>
                </div>

                <h4>RESTful API Design</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-11"></div>
                </div>

                <h4>Authentication (JWT, OAuth, Active Directory)</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-12"></div>
                </div>

                <h4>Crystal & Telerik Reports</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-13"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="download-cv-block">
                <a class="button" target="_blank" href="MohamedIbrahim_SoftwareDeveloper.pdf">Download CV</a>
            </div>
        </div>
    </div>
</section>
<!-- End Resume Subpage -->