@{
    ViewData["Title"] = "Mohamed Ibrahim - Senior Software Developer | AI Architect | Full-Stack & .NET Expert";
}

<!-- Page changer wrapper -->
<div class="pt-wrapper">
    <!-- Subpages -->
    <div class="subpages">
        @await Html.PartialAsync("_Home")
        @await Html.PartialAsync("_AboutMe")
        @await Html.PartialAsync("_Resume")
       @*  @await Html.PartialAsync("_Blog")
        @await Html.PartialAsync("_Portfolio")
        @await Html.PartialAsync("_Contact") *@


    </div>
</div>
<!-- /Page changer wrapper -->